<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Gothic" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122455597-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122455597-1');
</script>
  </head>
  <body>
 

    <div id ="sec01" class="wrapper">
 
   <h1><%= title %></h1>
 
    </div>
<div id ="sec02" class="wrapper">
<h2>Infomation</h2>
<p><a href="https://www.instagram.com/intrigensecretsociety/" target="_blank"><img src="https://dl.dropboxusercontent.com/s/cz1hp8ue1ks5x56/instagram.png" width="29"></a></p>
<p><a href="https://twitter.com/IntrigenSS" target="_blank"><img src="https://dl.dropboxusercontent.com/s/fsdlxc5vrh10jh4/twitter.png" width="29"></a></p>
</div>

<div id="sec03" class="wrapper">
<p> Wir ändern uns ständig mit flexiblem Denken.</p>
</div>

<div id="sec04" class="wrapper">
<p> Willst du die Zukunft verändern?</p>
</div>

<video src="https://dl.dropboxusercontent.com/s/fs3z7vlwvvcwahu/background.mp4" autoplay loop poster="https://dl.dropboxusercontent.com/s/gkugfizemlkmjji/bg.gif"></video>
  </body>
</html>
