<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%# data.forEach(function(array){ %>
    <%# array.result.forEach(function(result){ %>
    <h2><%- value.Name %></h2>
    <%# }) %>
   <script type="text/javascript">
  	 var data = <%#- JSON.stringify(value) %>
   </script>
    <div class="wrapper">
    <form action="/search" method="post" class="board-form">
    	タイトル: <input type="text" name="title" class="input" required> 
	<button type="submit" class="submit">Submit</button>
    </form>
    </div>
  </body>
</html>
