<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Gothic" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122455597-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122455597-1');
</script>
  </head>
  <body>
 

    <div class="wrapper">
 
   <h1><%= title %></h1>
 
    </div>

<video src="https://dl.dropboxusercontent.com/s/fs3z7vlwvvcwahu/background.mp4" autoplay loop poster="https://dl.dropboxusercontent.com/s/gkugfizemlkmjji/bg.gif"></video>
  </body>
</html>
