<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Gothic" rel="stylesheet">
  </head>
  <body>
 

    <div class="wrapper">
 
   <h1><%= title %></h1>
    <img src="public/images/main.jpg">
    </div>

<video src="https://doc-0k-1o-docs.googleusercontent.com/docs/securesc/9rohni9pign93d0rmn4b2l439cdphdol/0c26luete6tf64nrkro6cqoinoc5rrml/1531742400000/04999706538064390626/06198492327281793959/1wDdzc5kiNdDz_bt8k-aflmT1FWY1HFi1?e=download&nonce=phq4hi86hmvl4&user=06198492327281793959&hash=anleoe4bl1jictv7u8dtlf9gs0d0q2lm" poster="/images/main.jpg" autoplay loop></video>
  </body>
</html>
