<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Gothic" rel="stylesheet">
  </head>
  <body>
 

    <div class="wrapper">
 
   <h1><%= title %></h1>
    <img src="public/images/main.jpg">
    </div>

<video src="/image/background.mp4" poster="/images/main.jpg" autoplay loop></video>
  </body>
</html>
