<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="public/images/main.jpg">

    <div class="wrapper">
    <script>
    var xhr = new XMLHttpRequest();
    xhr.open("GET","/search");
    xhr.onload = function(e){
        var result = JSON.parse(xhr.responseText);
        console.log(result);
    });
    xhr.send();
    </script>
   
    <form action="/search" method="post">
      <input type="text" name="keyword" placeholder="調べる"/>

      <input type="button" value="送信"/>
    </form>
 
    </div>
  </body>
</html>
