<!DOCTYPE html>
<html>
  <head>
<meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Gothic" rel="stylesheet">


  </head>
  <body>
 

    <div id ="sec01" class="wrapper">
 
   <h1><%= title %></h1>
 
    </div>
<div id ="sec02" class="wrapper">
<h2>Infomation</h2>

<h3>OnlineShop</h3>
<p><a href="https://neco.kawaiishop.jp/" target="_blank">neco kawaii shop</a></p>
<p><a href="https://intrigenna.fashionstore.jp/" target="_blank">INTRIGEN Natur</a></p>
<p><a href="https://www.creema.jp/creator/2884154/" target="_blank">INTRIGEN Natur on Creema</a></p>

<h3>SNS</h3>
<p><a href="https://www.instagram.com/intrigensecretsociety/" target="_blank">Instagram</a></p>
<p><a href="https://facebook.com/intrigen/" target="_blank">Facebook</a></p>
<p><a href="https://twitter.com/IntrigenSS" target="_blank">Twitter</a></p>
<p><a href="https://line.me/R/ti/p/%40zmj5737y"><img height="36" border="0" alt="友だち追加" src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"></a></p>
</div>

<div id="sec03" class="wrapper">
<p> Wir ändern uns ständig mit flexiblem Denken.</p>
</div>

<div id="sec04" class="wrapper">
<p> Willst du die Zukunft verändern?</p>
</div>


<div id="sec05" class="wrapper">
<p><a href="https://goods.skiyaki.tokyo/products/104407" target="_blank"><img src="https://dl.dropboxusercontent.com/s/myndyo3ak3m0pi6/img_type01.png" width="360"></a></p>
<p> Konfrontation mit dem Lehrer<br>
師匠との対決 - T-shirt 3,163yen</p>
</div>

<div id="sec06" class="wrapper">

<iframe frameborder="0" height="480" width="320" src="https://neco.kawaiishop.jp/items/12720308/widget/large" ></iframe>

<p><a href="https://goods.skiyaki.tokyo/products/104414" target="_blank"><img src="https://dl.dropboxusercontent.com/s/t37x1pp0w7iliim/img_type02.png" width="360"></a></p>
<p> Ein Nickerchen mit einem Lehrer<br> 師匠とのお昼寝 - T-shir 3,163yen</p>


</div>

<video src="https://dl.dropboxusercontent.com/s/fs3z7vlwvvcwahu/background.mp4" autoplay loop poster="https://dl.dropboxusercontent.com/s/gkugfizemlkmjji/bg.gif"></video>
  </body>
</html>
