<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum+Gothic" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122455597-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122455597-1');
</script>
  </head>
  <body>
 

    <div class="wrapper">
 
   <h1><%= title %></h1>
    <img src="public/images/main.jpg">
    </div>

<video src="https://drive.google.com/open?id=1al8scrtf1hDVVO24Ge9rpQeV_a3PUIrs" poster="/images/DA0608E2-66B6-4C4B-BD9E-7AC636795AB6.gif" autoplay loop></video>
  </body>
</html>
